[Unit]
Description=HDD fan control
After=hddtemp.service

[Service]
EnvironmentFile=/etc/conf.d/hddfancontrol
ExecStart=/usr/bin/hddfancontrol daemon $HDDFANCONTROL_DAEMON_ARGS

# Scheduler priority
CPUSchedulingPolicy=rr
CPUSchedulingPriority=49

# Hardening
ProtectSystem=strict
PrivateTmp=true
ProtectHome=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
CapabilityBoundingSet=CAP_SYS_RAWIO
AmbientCapabilities=CAP_SYS_RAWIO
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
