[Unit]
Description=HDD fan control
Documentation=man:hddfancontrol(1)
After=hddtemp.service

[Service]
EnvironmentFile=/etc/conf.d/hddfancontrol
ExecStart=/usr/bin/hddfancontrol -v $HDDFANCONTROL_LOG_LEVEL daemon $HDDFANCONTROL_DAEMON_ARGS
Restart=always

# Scheduler priority
CPUSchedulingPolicy=rr
CPUSchedulingPriority=49
IOSchedulingClass=realtime
IOSchedulingPriority=0

# Hardening
ProtectSystem=full
PrivateTmp=true
ProtectHome=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
